@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "roboto", sans-serif;
}

.container{
    width: 100%;
    max-width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}

.nav{
    display: flex;
    justify-content: space-between;
}

.header__nav__links{
    display: flex;
    list-style: none;
    align-items: center;
}

.header__li:not(:last-child) {
    margin-right: 45px;
}

.header__a{
    text-decoration: none;
    color: #837e7e;
    transition: 0.7s;
}

.current, .header__a:hover{
    color: #D23166;
}

.header__btns{
    align-self: center;
}

.header__btn{
    text-decoration: none;
    color: #fff;
    padding: 10px 30px;
    background: #D23166;
    border-radius: 5px;
    font-size: 14px;
}

.intro{
    display: flex;
    justify-content: space-between;
}

.into__row__left{
    margin-top: 120px;
}

.intro__text-primary{
    color: #D23166;
}

.intro__left__h6{
    font-weight: 500;
    margin-bottom: 7px;
}

.intro__left__h1{
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 17px;
}

.intro__left__p{
    font-size: 14px;
}

.intro__left__btns{
    margin-top: 32px;
}

.intro__left__btn{
    text-decoration: none;
    color: #fff;
    padding: 10px 30px;
    background: #D23166;
    border-radius: 5px;
}

.intro__right__img{
    width: 650px;
}

.column-1{
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
}

.row{
    text-align: center;
    padding: 40px 40px 20px 40px;
    border: 1px solid #e2e1e1;
    transition: 0.6s;
}

.row:not(:last-child){
    margin-right: 60px;
}

h2{
    font-size: 15px;
    font-weight: 400;
    margin-top: 10px;
}

.row p{
    font-size: 12px;
    margin-top: 10px;
}

.row:hover{
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    border: transparent;
}

.column-2{
    display: flex;
    justify-content: space-between;    
}

.col-2__row__left{
    margin-top: 230px;
}

.col-2__row__left h1{
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 20px;
}

.col-2__buttons{
    margin-top: 35px;

}

.col-2__btn{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    padding: 10px 30px;
    background: #D23166;
    border-radius: 5px;
}

.col-3__text{
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    margin-top: 30px;
}

.col-3__nav__links{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 40px 0;

}

.col-3__nav__links li:not(:last-child){
    margin-right: 25px;
}

.col-3__nav__links a{
    text-decoration: none;
    color: #575656;
}

.col-3__nav__links .section__current, .col-3__nav__links a:hover{
    color: #D23166;
    transition: 0.5s;
}

.col-2__row__left p{
    font-style: 400px;
    font-size: 15px;
}

.col-3__rows{
    display: flex;
    justify-content: space-between;
}


.col-3__left__img{
    width: 500px;
}

.col-3__small__texts{
    display: flex;
}

.col-3__right__h2{
    margin-right: 20px;
}

.line__text{
    text-decoration: line-through;
    font-size: 15px;
}

.col-3__btns{
    margin-top: 30px;
}

.col-3__btn{
    text-decoration: none;
    color: #fff;
    padding: 10px 30px;
    background: #D23166;
    border-radius: 5px;
}

.col-3__right__h1{
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 17px;
}

.col-3__right__p{
    margin-bottom: 10px;
}

.col-3__row__right{
    margin-top: 55px;
}

.intro-3__img{
    width: 410px;
}

.col-3__intro-3{
    margin-top: 120px;
}

.intro-3__h1{
    text-align: right;
}

.intro-3__p{
    text-align: right;
}

.intro-3__small__texts{
    justify-content: flex-end;
}

.intro-3__button{
    display: flex;
    justify-content: flex-end;
}

.intro-3__rows{
    margin-top: 100px;
}

.column-4{
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
}

.col-4__row__left{
    margin-top: 120px;
}

.col-4__row__left-1{
    display: flex;
}


.col-4-left__texts{
    margin-left: 30px;
}

.col-4-left__h2{
    font-size: 18px;
    font-weight: 500;;
}

.col-4-left__h4{
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
}

.col-4-left__p{
    font-size: 14px;
    margin-top: 50px;
}

.col-4-right__img{
    width: 460px;
}